@{
    ViewBag.Title = "Success";
    Layout = null;
}
<div class="row" style="margin-top: 60px;">
    <div class="col-md-10 col-md-offset-1" style="text-align: center;">
        <img src="~/Content/Images/logopenta.png" />
    </div>
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-10 col-md-offset-1" style="text-align: center;">
            <h2>Datos guardados exitosamente</h2>
        </div>

    </div>
